:root{
    --sidebar-text: rgb(0, 145, 173);
}

body {
    background-color: rgba(25, 25, 25, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/** Header **/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem; /* Altura del header */
    padding: .1rem .8rem;
    border-bottom: .2rem solid rgb(132, 12, 60);
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(25, 25, 25, 255);
    color: white; /* Asegurar que el texto sea visible */
}

.logo{

    margin-left: 1rem;
    padding-right: 1rem;
}

.logo img{
    max-height: 50px;
}

.header .header_content {
    display: flex;
    margin: 1.4rem 1rem;
}

.header_content nav{
    margin-right: 3rem;
    display: flex;
    gap: 1rem;
}

.header_content nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
}

.header_content nav a{
    color: rgb(114, 60, 112);
    font-weight: 550;
}

.nav_icon{
    color: rgb(183, 9, 76);
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .3rem;
}

.header_iconos{
    margin-right: 1.5rem;
}

.header_iconos .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: rgb(160, 26, 88);
    margin-left: 1rem;
    cursor: pointer;
    transition: all .5s;
}

.header .header_content .header_iconos .icon:hover {
    transform: scale(114%);
}

.header_iconos a {
    text-decoration: none;
    color: black;
}

.header_iconos .icon:active {
    background-color: rgb(132, 12, 60);
}

main {
    background-image: linear-gradient(to bottom right, rgb(0, 145, 173), rgb(183, 9, 76));
    z-index: -1;
}

.notes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.notes_header {
    width: 90%;
    height: auto;
    background-color: rgba(15, 19, 19, 0.98); /* Fondo opaco */
    position: fixed;
    top: 7rem;
    z-index: 2; /* Asegura que esté encima de otros elementos */
    border-radius: 1rem;
}

.notes_header h2 {
    font-size: 2.5rem;
    color: rgb(183, 9, 76);
    margin-bottom: 1rem;
    margin-left: 1rem;
    padding: 1rem 0;
}

.notes_actions{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.create_note{
    align-self: center;
    display: flex;
    margin-left: 2rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(22, 122, 151);
    padding: 0 .5rem;
}

.create_note .new_icon{
    width: 1.3rem;
    margin-right: .3rem;
}

.notes_filters {
    width: 80%;
    display: flex;
    justify-content: flex-end;
}

.notes_filters label {
    color: rgb(160, 26, 88);
    margin-left: .8rem;
    font-size: 1.3rem;
    font-weight: 600;
}

.notes_filters select {
   border-radius: .5rem;
   padding: .1rem 0;
   background-color: rgba(15, 19, 19, 0.847);
   color: rgb(22, 122, 151);
   margin-right: 1rem;
}

.notes_filters select option {
    color: rgb(22, 122, 151);
}

.note_list-container{
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    height: 25.5rem;
}

.notes_list {
    width: 90%;
    height: 100vh; /* altura del cuerpo*/
    margin-top: 10rem;
    overflow-y: hidden;
}

.note_card {
    border: 1px solid rgba(183, 9, 76, 0.8);
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(15, 19, 19, 0.8);
    color: rgb(22, 122, 151);
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center;
    transform: scale(1);
    margin-top: 2rem;
    height: 13rem;
    overflow-wrap: break-word; 
    overflow-y:scroll ;
}

.note_options {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.note_title{
    margin-bottom: 1rem;
    overflow: hidden;
}

.note_date{
    margin-bottom: .5rem;
}
.note_detail{
    display: none;
}

.note_card:hover {
    transform: scale(1.05);
}

.note_summary {
    margin-bottom: 1rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_content {
    background-color: rgb(32,36,60);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(136, 136, 136);
    width: 80vw;
    max-width: 500px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-wrap: break-word; 
}

::-webkit-scrollbar {
    display: none;
}

.modal_body {
    padding: 2rem;
    background-color: rgba(15, 19, 19, 0.8);
    color: rgb(22, 122, 151);
    border-radius: 8px;
}

body.modal-open {
    overflow: hidden;
}

#create_noteModal .modal_body {
    padding: 2rem;
    background-color: rgba(15, 19, 19, 0.8);
    color: rgb(22, 122, 151);
    border-radius: 8px;
}

#create_noteModal .modal_body form {
    display: flex;
    flex-direction: column;
}

#create_noteModal .modal_body form label {
    margin-top: 1rem;
    color: rgb(160, 26, 88);
    font-size: 1.3rem;
    font-weight: 600;
}

#create_noteModal .modal_body form input,
#create_noteModal .modal_body form textarea {
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid rgba(183, 9, 76, 0.8);
    background-color: rgba(15, 19, 19, 0.8);
    color: rgb(22, 122, 151);
}

#create_noteModal .modal_body form button {
    margin-top: 1rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(22, 122, 151);
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}


/**footer**/

.footer_esqueleto {
    position: fixed;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 5rem;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    background-color: rgb(32,36,60);
    color: white;
    height: 100%;
    width: 100%;
    text-align: center;
    border-top: .2rem solid rgb(132, 12, 60);
    padding-bottom: .5rem;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5rem;
    margin-bottom: .5rem; /* Ajuste de margen para asegurar el contenido dentro de la altura */
}

.footer_container a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: whitesmoke;
    font-size: 1rem;
    transition: all .5s;
}


.footer_container a:hover {
    color: rgb(32,36,60);
    background-color: whitesmoke;
    border-radius: .3rem;
    font-size: 1.2rem;
    padding: .2rem .2rem;
}

.derechos {
    margin: 0; /* Ajuste de márgenes */
    padding-bottom: .5rem; /* Ajuste de padding */
}

@media (max-width: 20rem) {
    .footer {
        font-size: .8rem;
    }

    .footer_container a {
        font-size: 1rem;
    }
}
