.header {
    display: flex;
    justify-content: space-between;
    height: 5.5rem;
    padding: .1rem;
    border-bottom: .2rem solid rgb(132, 12, 60); 
    z-index: 10; /* Ensure the header is below the sidebar */
    position: fixed;
    top:0;
    width: 100%;
    background-color: rgba(25, 25, 25, 255);
}

.logo{
    border-right: .2rem solid rgb(132, 12, 60);
    margin-left: 1rem;
    padding-right: 1rem;
}

.logo img{
    height: 5rem;
}

.header .header_content {
    display: flex;
    margin: 1.4rem 1rem;
}

.header_content nav{
    margin-right: 3rem;
    display: flex;
    gap: 1rem;
}

.header_content nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.4rem;
}

.header_content nav a{
    color: rgb(114, 60, 112);
    font-weight: 550;
}

.nav_icon{
    color: rgb(183, 9, 76);
    width: 1.8rem;
    height: 1.8rem;
    margin-right: .3rem;
}

.header_iconos{
    margin-right: 1.5rem;
}

.header_iconos .icon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: rgb(160, 26, 88);
    margin-left: 1rem;
    cursor: pointer;
    transition: all .5s;
}

.header .header_content .header_iconos .icon:hover {
    transform: scale(114%);
}

.header_iconos a {
    text-decoration: none;
    color: black;
}

.header_iconos .icon:active {
    background-color: rgb(132, 12, 60);
}