

.task_card{
    border: 1px solid rgba(183, 9, 76, 0.8);
    border-radius: 8px;
    padding: 1rem;
    background-color: rgba(15, 19, 19, 0.8);
    color: rgb(22, 122, 151);
    cursor: pointer;
    transition: transform 0.3s;
    transform-origin: center;
    transform: scale(1);
    margin-top: .5rem;
    height: 7rem;
    overflow-wrap: break-word; 
}

.task_options {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.task_title{
    margin-bottom: 1rem;
    overflow: hidden;
    text-align: center;
}

.task_date{
    margin-bottom: .5rem;
}

#edit_task{
    background: transparent;
}

.task_summary {
    margin-bottom: 1rem;
}

.task_detail{
    display: none;
}

::-webkit-scrollbar{
    display: none;
}
