body {
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgb(25, 25, 25, 255);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    border: 2px solid rgb(132, 12, 60);
}

.logo h1 {
    margin: 0;
    text-align: center;
    color: white;
    padding-bottom: .4rem;
    border-bottom: solid .1rem;
}

h2 {
    text-align: center;
    color: white;
}

.input-box {
    position: relative;
    margin: 1rem 0;
}

.input-box input {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(183, 9, 76, 0.8);
}

.btn {
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(22, 122, 151);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: .3rem;
}

.remember-forgot, .register-link, .back-link {
    text-align: center;
    margin-top: 1rem;
}

a {
    color: rgb(22, 122, 151);
    text-decoration: none;
}

#resendCode{
    margin-top: .3rem;
}


