* {
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    font-family: "Poppins", sans-serif; 
}
  
body {
    background-image: linear-gradient(to bottom right, rgb(0, 145, 173), rgb(183, 9, 76));
}
  
/** Empieza el header **/
header {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    height: 5.5rem;
    padding: .1rem .8rem;
    border-bottom: .2rem solid rgb(132, 12, 60);
    background-color: rgba(25, 25, 25, 255);
}


.header .logo img {
    height: 5rem;
    width: auto;
    transition: all .5s;
    cursor: pointer;
}

.header .logo img:hover {
    transform: scale(110%);

}

.header_buscador {
    font-size: 1.6rem;

}

.header .header_content {
    display: flex;
    margin: 1.4rem .5rem;
}

.header_iconos svg {
    background-color: whitesmoke;
    border-radius: 50%;
    margin-left: 1rem;
    cursor: pointer;
    transition: all .5s;
}

.header .header_content .header_iconos svg:hover {
    transform: scale(114%);
}

.header_buscador button {
    font-weight: 700;
    background-color: white;
    height: 2.2rem;
    width: 2.2rem;
    border: none;
    position: relative;
    top: .3rem;
    transition: all .5s;
}

.header_buscador button:hover {
    transform: scale(114%);
}

.header .header_content .header_buscador svg {
    margin-top: .2rem;
}

.header_content input {
    padding: .6rem .5rem;
}

.header_iconos a{
    text-decoration: none;
    color: black;
}

.header_buscador button:active{background-color: rgb(132, 12, 60);}

.header_iconos svg:active{background-color: rgb(132, 12, 60);}



footer {
    background-color: rgba(25, 25, 25, 255);
    height: auto;
    padding: 2rem 0;
}

.footer_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 2rem;
}

.footer_container a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 1rem;
}

.derechos {
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin-top: 1rem;
}




.regreso a {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    border-radius: 1.5rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: black;
    transition: background-color 0.3s ease;
}

.regreso a:hover {
    background-color: #333333;
}


main{
    height: 100%;
    min-height: 100vh;
}

.configuracion_usuario{
    margin: 6rem 2rem 2rem 2rem;
    justify-content: center;
}

.configuracion_usuario h1{
    padding-bottom: 3rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(25, 25, 25, 255);
    width: 90%;
    height: 25rem;
    padding: 20px 10rem;
    border-radius: 10px;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
  
.profile {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid white;
}
  
.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
}
  
.menu-item a {
    color: white;
    font-size: 20px;
    background: none;
    text-decoration: none;
}

.profile span{
    color: white;
    font-size: 20px;
}
  
.menu-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}
  
.menu-item img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}


@media (max-width: 768px) {

    .footer_container {
        flex-direction: column;
        align-items: center;
    }

    .container{
        padding: 1rem;
    }
    .configuracion_usuario h1{
        padding-top: 4rem;
    }

    .header_buscador, .header_iconos svg{
        display: none;
    }


    
}