<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style/styles.css" />
		<link rel="stylesheet" href="">
		<link
			rel="shortcut icon"
			href="/favicon_io/favicon.ico"
			type="image/x-icon"
		/>
		<title>Aviso de privacidad</title>
	</head>

	<body>
		<!--Header-->
		<header>
			<div class="marca">
				<a href="index.php">
					<img src="../../img/marca.png" alt="" />
				</a>
			</div>
			<div class="login">
				<div class="inicio_sesion">
					<a href="login.html"> Inicio de sesion </a>
				</div>
			</div>
		</header>
		<!-- Contenido -->
		<main class="angelito">
			<div class="aviso_privacidad">
				<h1>Aviso de privacidad</h1>
				<div>
					<p>
						En Just Enough Time (J.E.T.), nos comprometemos a proteger tu
						privacidad. Recopilamos y utilizamos tu información personal
						únicamente para proporcionarte una experiencia mejorada y
						personalizada. Toda la información que recopilamos se maneja de
						manera segura y confidencial.
					</p>

					<h2>Información que Recopilamos</h2>
					<p>
						Datos personales: nombre y correo electrónico. Información de uso de
						la aplicación Preferencias y configuraciones Uso de la Información
						Utilizamos tus datos para: Mejorar la funcionalidad y experiencia de
						usuario de la aplicación Enviarte notificaciones y actualizaciones
						relevantes Ofrecer soporte y asistencia técnica Protección de la
						Información Implementamos medidas de seguridad técnicas y
						administrativas para proteger tu información personal contra acceso
						no autorizado, pérdida o alteración.
					</p>
					<h2>Términos y Condiciones</h2>
					<p>
						Uso de la Aplicación.<br />
						Al utilizar Just Enough Time (J.E.T.), aceptas cumplir con los
						siguientes términos y condiciones: Registro y Seguridad: Eres
						responsable de mantener la confidencialidad de tu cuenta y
						contraseña. Notifícanos inmediatamente cualquier uso no autorizado.
						Contenido del Usuario: Todo el contenido que subas, compartas o
						guardes en la aplicación es de tu exclusiva responsabilidad. No
						permitimos contenido ilegal, ofensivo o inapropiado. Disponibilidad
						del Servicio: Nos esforzamos por mantener la aplicación disponible
						en todo momento, pero no garantizamos que el servicio será
						ininterrumpido o libre de errores. Modificaciones: Nos reservamos el
						derecho de modificar o discontinuar la aplicación, temporal o
						permanentemente, con o sin previo aviso. Limitación de
						Responsabilidad: No seremos responsables por ningún daño directo,
						indirecto, incidental o consecuente que resulte del uso o la
						imposibilidad de usar la aplicación. Contacto
					</p>
					<div class="regreso">
						<a href="javascript:history.back()">regresar</a>
					</div>
				</div>
			</div>
		</main>
		<!-- Footer-->
		<footer>
			<div class="footer_container">
				<div>
					<a href="aviso_privacidad.html"> Aviso de privacidad </a>
				</div>
				<div>
					<a href="terminos_condiciones.html"> Terminos y condiciones </a>
				</div>
				<div>
					<a href="mapa.html"> Mapa del sitio </a>
				</div>
			</div>
			<div class="derechos">
				Todos los derechos reservados por Santana Saste Roger, Herrera Loeza
				Enrique y Uc Pool Francisco &copy;
			</div>
		</footer>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
	</body>
</html>
