<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style/styles.css" />
        <link rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon">
		<title>Aviso de privacidad</title>
	</head>

	<body>
		<!--Header-->
		<header>
			<div class="marca">
				<a href="index.html">
					<img src="../../img/marca.png" alt="" />
				</a>
			</div>
			<div class="login">
				<div class="inicio_sesion">
					<a href="login.html"> Inicio de sesion </a>
				</div>
			</div>
		</header>
		<!-- Contenido -->
		<div class="aviso_privacidad">
			<h1>Términos y Condiciones</h1>
			<div>
				<p>
					Al acceder y utilizar los servicios de Just Enough Time (JET), aceptas
					y acuerdas estar sujeto a los siguientes términos y condiciones (los
					"Términos"). Si no estás de acuerdo con alguno de estos Términos, no
					deberías utilizar nuestros servicios.
				</p>

				<h2>Uso de los Servicios</h2>
				<p>
					JET proporciona una plataforma para agilizar el día a día de nuestros
					usuarios ayudándolos e impulsándolos a cumplir con sus tareas diarias.
					Al utilizar nuestros servicios, te comprometes a utilizar la
					plataforma de manera legal y ética.
				</p>
				<h2>Registro y Cuenta</h2>
				<p>
					Para utilizar ciertas funciones de JET, debes registrarte y crear una
					cuenta. Eres responsable de mantener la confidencialidad de tu
					información de inicio de sesión y de todas las actividades que ocurran
					bajo tu cuenta. Notifícanos inmediatamente sobre cualquier uso no
					autorizado de tu cuenta.
				</p>
				<h2>Funcionalidad de Notas</h2>
				<p>
					JET ofrece una funcionalidad de notas para ayudarte a organizar y
					gestionar tus tareas. Las notas pueden contener información sensible,
					y es tu responsabilidad asegurarte de que estas notas sean manejadas
					de manera segura.
				</p>
				<h2>Propiedad Intelectual</h2>
				<p>
					Todos los contenidos, marcas, logotipos, diseños y otros derechos de
					propiedad intelectual en nuestra plataforma son propiedad de JET o sus
					licenciantes. No se te concede ningún derecho o licencia para utilizar
					los mismos sin el previo consentimiento por escrito de JET.
				</p>
				<div class="regreso">
					<a href="javascript:history.back()">regresar</a>
				</div>
			</div>
		</div>
		<!-- Footer-->
		<footer>
			<div class="footer_container">
				<div>
					<a href="aviso_privacidad.html"> Aviso de privacidad </a>
				</div>
				<div>
					<a href="terminos_condiciones.html"> Terminos y condiciones </a>
				</div>
				<div>
					<a href="mapa.html"> Mapa del sitio </a>
				</div>
			</div>
			<div class="derechos">
				Todos los derechos reservados por Santana Saste Roger, Herrera Loeza
				Enrique y Uc Pool Francisco &copy;
			</div>
		</footer>
	</body>
</html>
