<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../../style/styles.css" />
        <link rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon">
		<title>Aviso de privacidad</title>
	</head>

	<body>
		<!--Header-->
		<header class="header">
			<div class="logo">
				<a href="index.html">
					<img src="../../img//marca.png" alt="Logo de la app." />
				</a>
			</div>
			<div class="header_content">
				<div class="header_buscador">
					<form>
						<label>
							<input placeholder="BUSCAR" id="" />
						</label>
						<button>
							<!--Botón de busqueda-->
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="icon icon-tabler icon-tabler-search"
								width="20"
								height="20"
								viewBox="0 0 24 24"
								stroke-width="1.5"
								stroke="#000000"
								fill="none"
								stroke-linecap="round"
								stroke-linejoin="round"
							>
								<path stroke="none" d="M0 0h24v24H0z" fill="none" />
								<path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
								<path d="M21 21l-6 -6" />
							</svg>
						</button>
					</form>
				</div>
				<div class="header_iconos">
					<a href="#">
						<!--Icono de notificación-->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-bell-filled"
							width="36"
							height="36"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#000000"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path
								d="M14.235 19c.865 0 1.322 1.024 .745 1.668a3.992 3.992 0 0 1 -2.98 1.332a3.992 3.992 0 0 1 -2.98 -1.332c-.552 -.616 -.158 -1.579 .634 -1.661l.11 -.006h4.471z"
								stroke-width="0"
								fill="currentColor"
							/>
							<path
								d="M12 2c1.358 0 2.506 .903 2.875 2.141l.046 .171l.008 .043a8.013 8.013 0 0 1 4.024 6.069l.028 .287l.019 .289v2.931l.021 .136a3 3 0 0 0 1.143 1.847l.167 .117l.162 .099c.86 .487 .56 1.766 -.377 1.864l-.116 .006h-16c-1.028 0 -1.387 -1.364 -.493 -1.87a3 3 0 0 0 1.472 -2.063l.021 -.143l.001 -2.97a8 8 0 0 1 3.821 -6.454l.248 -.146l.01 -.043a3.003 3.003 0 0 1 2.562 -2.29l.182 -.017l.176 -.004z"
								stroke-width="0"
								fill="currentColor"
							/>
						</svg>
					</a>
					<a href="cofig_usuario.html">
						<!--Icono de usuario-->
						<svg
							xmlns="http://www.w3.org/2000/svg"
							class="icon icon-tabler icon-tabler-user"
							width="36"
							height="36"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="#000000"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
							<path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
						</svg>
					</a>
				</div>
			</div>
		</header>
		<!-- Contenido -->
		<div class="aviso_privacidad">
			<h1>Términos y Condiciones</h1>
			<div>
				<p>
					Al acceder y utilizar los servicios de Just Enough Time (JET), aceptas
					y acuerdas estar sujeto a los siguientes términos y condiciones (los
					"Términos"). Si no estás de acuerdo con alguno de estos Términos, no
					deberías utilizar nuestros servicios.
				</p>

				<h2>Uso de los Servicios</h2>
				<p>
					JET proporciona una plataforma para agilizar el día a día de nuestros
					usuarios ayudándolos e impulsándolos a cumplir con sus tareas diarias.
					Al utilizar nuestros servicios, te comprometes a utilizar la
					plataforma de manera legal y ética.
				</p>
				<h2>Registro y Cuenta</h2>
				<p>
					Para utilizar ciertas funciones de JET, debes registrarte y crear una
					cuenta. Eres responsable de mantener la confidencialidad de tu
					información de inicio de sesión y de todas las actividades que ocurran
					bajo tu cuenta. Notifícanos inmediatamente sobre cualquier uso no
					autorizado de tu cuenta.
				</p>
				<h2>Funcionalidad de Notas</h2>
				<p>
					JET ofrece una funcionalidad de notas para ayudarte a organizar y
					gestionar tus tareas. Las notas pueden contener información sensible,
					y es tu responsabilidad asegurarte de que estas notas sean manejadas
					de manera segura.
				</p>
				<h2>Propiedad Intelectual</h2>
				<p>
					Todos los contenidos, marcas, logotipos, diseños y otros derechos de
					propiedad intelectual en nuestra plataforma son propiedad de JET o sus
					licenciantes. No se te concede ningún derecho o licencia para utilizar
					los mismos sin el previo consentimiento por escrito de JET.
				</p>
				<div class="regreso">
					<a href="javascript:history.back()">regresar</a>
				</div>
			</div>
		</div>
		<!-- Footer-->
		<footer>
			<div class="footer_container">
				<div>
					<a href="aviso_privacidad.html"> Aviso de privacidad </a>
				</div>
				<div>
					<a href="terminos_condiciones.html"> Terminos y condiciones </a>
				</div>
				<div>
					<a href="mapa.html"> Mapa del sitio </a>
				</div>
			</div>
			<div class="derechos">
				Todos los derechos reservados por Santana Saste Roger, Herrera Loeza
				Enrique y Uc Pool Francisco &copy;
			</div>
		</footer>
	</body>
</html>
