<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/styles.css">
    <link rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon">
    <title>Aviso de privacidad</title>
</head>

<body>
    <!--Header-->
    <header>
        <div class="marca">
            <a href="index.php">
                <img src="../../img/marca.png" alt="" />
            </a>
        </div>
        <div class="login">
            <div class="inicio_sesion">
                <a href="login.html"> Inicio de sesion </a>
            </div>
        </div>
    </header>
<main class="angelito">
    <!-- Contenido -->
    <div class="aviso_privacidad ">
        <h1> inicio</h1>
        <div>
            <a href="../../index.php">presentacion</a>
            <a href="index.php#nosotros">
            nosotros
            </a>
            <a href="../../index.php#objetivo">Objetivo</a>
            <a href="../../index.php#funciones">Funciones</a>
            <a href="../../index.php#compromiso">Compromiso</a>
            <h2>Área de trabajo</h2>
            <a href="tarea.php">Tareas</a>
            <a href="notas.php">Notas</a>
            <a href="calendario.php">Calendario</a>
            <h2>Vista de perfil</h2>
            <a href="cofig_usuario.php">Perfil</a>
                <div class="regreso">
					<a href="javascript:history.back()">regresar</a>
				</div>
            
        </div>
    </div>
</main>
    <!-- Footer-->
    <footer>
        <div class="footer_container">
            <div>
                <a href="aviso_privacidad.html"> Aviso de privacidad </a>
            </div>
            <div>
                <a href="terminos_condiciones.html"> Terminos y condiciones </a>
            </div>
            <div>
                <a href="mapa.html"> Mapa del sitio </a>
            </div>
        </div>
        <div class="derechos">
            Todos los derechos reservados por Santana Saste Roger, Herrera Loeza
            Enrique y Uc Pool Francisco &copy;
        </div>
    </footer>
</body>
</html>