<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/modal.css">
    <title>Document</title>
</head>

<body>
   <div class="task_card">
        <div class="task_summary">
            <h4 class="task_title">${task.task_title}</h4>
            <p class="task_date">Fecha de entrega: ${task.finish_date}</p>
            <p class="task_tags">Etiquetas: ${task.tags}</p>
        </div>
        <div class="task_options">
            <button id="edit_task"><ion-icon name="pencil-outline" ></ion-icon></button>
        </div>
        <div class="task_detail">
            <p>${task.task_body}</p>
        </div>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>

</html>