<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/style_register.css">
    <link rel="shortcut icon" href="/favicon_io/favicon.ico" type="image/x-icon">
    <title>Registro</title>
</head>
<body>
    <div class="wrapper">
        <form method="post"  action="../model/RegisterModel.php">
            <div class="logo">
                <h1>Just Enough Time</h1>
            </div>
            <h2>Registro</h2>

            <div class="input-box">
                <input type="text" placeholder="Ingresar su nombre" name="usuario"  required>
                <i class='bx bx-user'></i>
            </div>

            <div class="input-box">
                <input type="mail" placeholder="Ingresar su correo" name="correo"  required>
                <i class='bx bx-user'></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Ingrese su contraseña" name = "contraseña" id="Input"  required>
                <i class='bx bx-lock-alt' id="Eye" ></i>
            </div>

            <div class="input-box">
                <input type="password" placeholder="Confirmar su contraseña" name = "contraseña" id="Input" required>
                <i class='bx bx-lock-alt' id="Eye" ></i>
            </div>

            <button type="submit" class="btn">Registrate</button>

            <div class="register-link">
                <p>¿Ya tiene cuenta? <a 
                href="../views/login.html">Inicie sesión</a></p>
            </div>
            <script src=code.js></script>
    </div>
</body>
</html>